* {
  margin: 0; padding: 0;
}


header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header .headline{
  font-size: 32px;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.breadcrumb {
  background: #f8f9fa;
}

.about-text {
  text-align: center;
  padding: 20px 0;
}
.media {
  padding-left: 14px;

}
.welcome {
  display:inline-block;
}

.about-text-h2 {
  padding: 20px 0;
}
.hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

@media (min-width: 992px) {
 .welcome {
   font-size: 7.0rem;
 }
}
// 中デバイス（タブレット, 992px 未満）
@media (max-width: 991.98px) {
 .welcome {
   font-size: 4.0rem;
 }
}
// 小デバイス（横向きモバイル, 768px 未満）
@media (max-width: 767.98px) {
 .welcome {
   font-size: 2.0rem;
 }
}
// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 576px 未満）
@media (max-width: 575.98px) {
 .welcome {
   font-size: 1.0rem;
 }
}

.detail {
  text-align: right;
  background-color: red;
}

p.small-text {
  text-align: right;
  font-size: 100px;
}
