{% extends "match/base.html" %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">利用方法</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <div class="about-text">
        <h1>スマッシュマッチとは</h1>
        <hr class="hr">
        <p>スマッシュマッチは「ゲームの得意な人」と「ゲームが上手くなりたい人」を繋げるサービスです。</p>
      </div>
      <div class="about-text">
        <h1>利用方法</h1>
        <hr class="hr">
        <p>会員登録をすることで誰でも利用できます。会員にはメンターとメンティーの２種類あり、どちらも会員登録は無料でできます。
        また、メンターとメンティーの変更は会員登録後にいつでも可能です。
        </p>
        <div class="about-text-h2">
        <h2>①メンター</h2>
          <p>メンターはゲームを教える人を指します。</p>
          <p>メンターになるには、会員登録後メニューからユーザー情報更新画面へ行き「メンター」を選択します。
            実際にメンティーにゲームを教えられるようにするにはユーザー情報更新画面の下の方にある詳細設定リンクから必要な情報を入力していただく必要があります。
            </p>
          <p>
            コースは3つ用意することができます。多様な価格、内容のコースを用意して様々なメンティーに対応できるようにしましょう。
          </p>
        </div>
        <div class="about-text-h2">
        <h2>②メンティー</h2>
          <p>メンティーはメンターにゲームを教えてもらうことができます。</p>
          <p>
            メンティーになるには会員登録後メニューからユーザー情報更新画面へ行き「メンティー」を選択します。
            その後、メンターの詳細画面にある「相談する」からメンターに相談の依頼を出すことができます。
          </p>
          <p>
            コースは最大3つ用意されていて自分にあったコースを選択することができます。
          </p>

        </div>
      </div>
      {% if user.is_authenticated %}
      <div class="about-text">
        <h1>退会手続き</h1>
        <hr class="hr">
        <p>退会は<a href="{% url 'match:withdrawal' %}">こちら</a></p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
