{% extends "match/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'match:user_update' user.pk %}">プロフィール設定</a></li>
    <li class="breadcrumb-item active" aria-current="page">ユーザー詳細設定</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
<p>※詳細設定は依頼を受ける際に必要となります。後からユーザー情報更新ページより、設定することも可能です。<small><a href="{% url 'match:user_detail' user.pk %}">スキップする</a></small></p>
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.non_field_errors }}
    <table class="table">
            <tr>
                <th>　口座番号 </th>

                <td>{{ form.user_account_number }}</td>
            </tr>
            <tr>
                <th>銀行コード＋支店コード</th>
                <td>{{ form.user_routing_number }}</td>
            </tr>
            <tr>
                <th>口座名義<br>
                  ※<br>
                  <small>
                    ・カナ入力(全角)<br>
                  ・苗字と名前の空白は全角スペース<br>
                  でないと正しくお金を受け取ることができません。<br>
                  例:スマッシュ　タロウ<br>
                  詳しくはお使いの銀行のサイトでご確認ください。
                  <button class="btn btn-info"
                  type="button"
                  data-toggle="collapse"
                  data-target="#example-1"
                  aria-expand="false"
                  aria-controls="example-1">参考</button>
                  <div class="collapse" id="example-1">
                    <div class="card card-body">
                      <p><a href="https://www.mizuhobank.co.jp/retail/products/direct/goriyo/furikomi/uketorininmei.html">みずほ銀行</a><p>
                      <p><a href="https://faq01.bk.mufg.jp/faq/show/823?site_domain=default">三菱UFJ銀行</a></p>
                      <p><a href="https://www.smbc.co.jp/direct/help_furikomi/14.html">三井住友銀行</a></p>
                      <p><a href="https://help.japannetbank.co.jp/hc/ja/articles/900002596043-%E6%8C%AF%E3%82%8A%E8%BE%BC%E3%81%BF%E3%82%92%E3%81%99%E3%82%8B%E6%99%82%E3%81%AE-%E5%8F%97%E5%8F%96%E4%BA%BA%E5%8F%A3%E5%BA%A7%E5%90%8D%E7%BE%A9%E3%81%AE%E5%85%A5%E5%8A%9B%E6%96%B9%E6%B3%95%E3%82%92%E6%95%99%E3%81%88%E3%81%A6%E3%81%8F%E3%81%A0%E3%81%95%E3%81%84-">
                        ジャパンネット銀行
                      </a></p>
                    </div>
                  </div>
                  </small>
                </th>
                <td>{{ form.user_holder_name }}</td>
            </tr>
            <tr>
                <th>郵便番号 例:1018650</th>
                <td>{{ form.user_postal_code }}</td>
            </tr>
            <tr>
              <th>都道府県（カナ）</th>
              <td>{{ form.user_state_kana }}</td>
            </tr>
            <tr>
                <th>区市町村（カナ）</th>
                <td>{{ form.user_city_kana }}</td>
            </tr>
            <tr>
                <th>町名（カナ）</th>
                <td>{{ form.user_town_kana }}</td>
            </tr>
            <tr>
                <th>番地・号（カナ）</th>
                <td>{{ form.user_line1_kana }}</td>
            </tr>
            <tr>
                <th>建物・部屋番号・その他（カナ）（任意）</th>
                <td>{{ form.user_line2_kana }}</td>
            </tr>
          <tr>
            <th>都道府県（漢字）</th>
            <td>{{ form.user_state_kanji }}</td>
          </tr>
          <tr>
              <th>区市町村（漢字）</th>
              <td>{{ form.user_city_kanji }}</td>
          </tr>
          <tr>
              <th>町名（漢字）</th>
              <td>{{ form.user_town_kanji }}</td>
          </tr>
          <tr>
              <th>番地・号（漢字）</th>
              <td>{{ form.user_line1_kanji }}</td>
          </tr>
          <tr>
              <th>建物・部屋番号・その他（漢字）（任意）</th>
              <td>{{ form.user_line2_kanji }}</td>
          </tr>
            <tr>
              <th>生年月日</th>
              <td>{{ form.user_year }}年 {{ form.user_month }}月 {{ form.user_day }}日</td>
            </tr>
            <tr>
                <th>電話番号 例:08012341234</th>
                <td>{{ form.user_phone_number }}</td>
            </tr>
            <tr>
                <th>姓（カナ）</th>
                <td>{{ form.user_last_name_kana }}</td>
            </tr>
            <tr>
                <th>姓（漢字）</th>
                <td>{{ form.user_last_name_kanji }}</td>
            </tr>
            <tr>
                <th>名（カナ）</th>
                <td>{{ form.user_first_name_kana }}</td>
            </tr>
            <tr>
                <th>名（漢字）</th>
                <td>{{ form.user_first_name_kanji }}</td>
            </tr>
            <tr>
                <th>性別</th>
                <td>{{ form.user_gender }}</td>
            </tr>
            <tr>
                <th>
                  本人確認書類（表) ※パスポート,マイナンバー(顔つき),パスポート,住基カード(顔つき),運転免許証

                </th>
                <td>{{ form.user_verification_front }}</td>
            </tr>
            <tr>
                <th>
                  本人確認書類（裏) ※パスポート,マイナンバー(顔つき),パスポート,住基カード(顔つき),運転免許証
                </th>
                <td>{{ form.user_verification_back }}</td>
            </tr>
    </table>
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-lg" >送信</button>
</form>
  </div>
</div>
{% endblock %}
