{% load static %}
<!DOCTYPE html>


<html lang="ja">

    <head>

        <meta charset="utf-8">


      <title>スマッシュマッチ</title>
      <description>
スマッシュマッチとは

スマッシュマッチは「ゲームの得意な人」と「ゲームが上手くなりたい人」を繋げるサービスです。
利用方法

会員登録をすることで誰でも利用できます。会員にはメンターとメンティーの２種類あり、どちらも会員登録は無料でできます。 また、メンターとメンティーの変更は会員登録後にいつでも可能です。
①メンター

メンターはゲームを教える人を指します。

メンターになるには、会員登録後メニューからユーザー情報更新画面へ行き「メンター」を選択します。 実際にメンティーにゲームを教えられるようにするにはユーザー情報更新画面の下の方にある詳細設定リンクから必要な情報を入力していただく必要があります。

コースは3つ用意することができます。多様な価格、内容のコースを用意して様々なメンティーに対応できるようにしましょう。
②メンティー

メンティーはメンターにゲームを教えてもらうことができます。

メンティーになるには会員登録後メニューからユーザー情報更新画面へ行き「メンティー」を選択します。 その後、メンターの詳細画面にある「相談する」からメンターに相談の依頼を出すことができます。

コースは最大3つ用意されていて自分にあったコースを選択することができます。
</description>
        <!-- viewport meta -->

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--style.css-->
        <link rel="stylesheet" href="{% static 'match/style.css' %}">



    </head>
    <header>

      <nav class="navbar navbar-light bg-light">

          <h1 class="navbar-brand">スマッシュマッチング</h1>

        <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navmenu1"
          aria-controls="navmenu1"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu1">
          <div class="navbar-nav">

            <a class="nav-item nav-link" href="{% url 'match:top' %}">Home</a>

        {% if user.is_authenticated %}

            <a class="nav-item nav-link" href="{% url 'match:user_detail' user.pk %}">ユーザー情報閲覧</a>

            <a class="nav-item nav-link" href="{% url 'match:user_update' user.pk %}">ユーザー情報更新</a>

            <a class="nav-item nav-link" href="{% url 'match:logout' %}">ログアウト</a>

            <a class="nav-item nav-link" href="{% url 'match:room' %}">メッセージbox</a>

        {% else %}

            <a class="nav-item nav-link" href="{% url 'match:login' %}">
              ようこそ、ゲスト！ログインはこちら
            </a>

          {% endif %}
          <a class="nav-item nav-link" href="{% url 'match:about' %}">
            利用方法
          </a>
          <a class="nav-item nav-link" href="{% url 'contact:top' %}">
            お問い合わせ
          </a>

    </nav>

    </header>
    <body>

        {% block content %}{% endblock %}



        <!-- jQuery、Popper.js、Bootstrap JS -->

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript">$('[data-toggle="tooltip"]').tooltip();</script>
    </body>
</html>
