{% extends 'match/base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">ログイン</li>
  </ol>
</nav>
<form action="" method="POST">
  {{ form.non_field_errors }}
  {% for field in form %}
    {{ field }}
    {{ field.errors }}
  {% endfor %}
  <button type="submit">ログイン</button>
  {% csrf_token %}
</form>

<a href="{% url 'match:user_create' %}"  >会員登録</a>

{% endblock %}
