{% extends 'match/base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div class="text-right">
  <button class="btn btn-info"
    data-toggle="collapse"
    data-target="#example-1"
    aria-expand="false"
    aria-controls="example-1">メンターを探す</button>
<div class="collapse" id="example-1">
  <div class="card card-body">
    <form action="{% url 'match:top' %}" method="GET">
      <div class="form-group">
        <label for="text1">キーワード:</label>
        {{ form.key_word }}
      </div>
      <div class="form-group">
        <label for="text1">使用キャラ:</label>
        {% for char in form.char %}
        {{ char }}
        {% endfor %}
      </div>
        {% csrf_token %}
        <button class="btn btn-info" type="submit">送信</button>
    </form>

  </div>
</div>
 </div>



<div class="container-fluid">
  <div class="row">
    <div class="col-12">
  <h2 class="welcome">スマッシュマッチへようこそ！</h2>
  </div>
    </div>
  <div class="row">
    <div class="col-5 offset-8"><small>利用方法は<a href="{% url 'match:about' %}">こちら</small></a></div>
  </div>



  {% for men in users %}
  {% if men.menter == 1 %}

<div class="row">
  <div class="media">
  <img class="mr-3" src="{{ men.user_img }}" alt="no img">
  <div class="media-body">
    <h5 class="mt-0"><a href="{% url 'match:menber_detail' men.pk %}">{{ men.last_name }}さん</a></h5>
    {{ men.my_profile}}
  </div>
 </div>
</div>
{% endif %}
{% endfor %}
</div>

{% endblock %}
