{% extends "match/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ menber_detail.last_name }}さんの詳細</li>
  </ol>
</nav>

<table class="table">
        <tr>
            <th>プロフ画像</th>
              <td> <img src="{{ menber_detail.user_img }}"></td>
        </tr>
        {% if menber_detail.twitter_url %}
        <tr>
            <th>Twitter</th>
              <td><a href="{{ menber_detail.twitter_url }}">{{menber_detail.last_name}}さんのtwitter</td>
        </tr>
      {% endif %}
        <tr>

            <th>姓</th>
            <td>{{ menber_detail.last_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ menber_detail.first_name }}</td>
        </tr>
        <tr>
            <th>使用キャラ</th>
            <td>{% for char in menber_detail.user_char.all %}{{ char }}, {% endfor %}</td>
        </tr>
        <tr>
          <th>request</th>
          <td>
              {% if user.is_authenticated and menber_detail.busy == False %}
                <a href="{% url 'match:message_list' menber_detail.pk %}">相談する</a>
              {% endif %}
              {% if user.is_authenticated == False %}
                メンターに相談するには<a href="{% url 'match:user_create' %}"  >会員登録</a>が必要です。
              {% endif %}
          </td>
        </tr>

</table>
{% endblock %}
