{% extends "match/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'match:menber_detail' pk %}">{{ menter.last_name }}さんの詳細</a></li>
    <li class="breadcrumb-item active" aria-current="page">メッセージ</li>
  </ol>
</nav>
{% for message in message_list %}
  {% if user.is_authenticated %}
  <!--自分のメッセージかつ宛先が相手、　相手のメッセージかつ宛先が自分-->
  <!--message.room.pkはメッセージの持ち主, user.pkはアクセスしてる人, pkはメッセージの送り相手-->
    {% if message.room.pk == user.pk and message.to_user.pk == pk or message.room.pk == pk and message.to_user.pk == user.pk %}

      <p>{{ message.room.last_name }}:{{ message.text }}</p>
    {% endif %}
  {% endif %}
{% endfor %}
<form action="" method="POST">
{{ form.as_p }}
    <button type="submit">送信</button>
    {% csrf_token %}
</form>

{% if user.menter == 2 %}

<h2>コースを選ぶ</h2>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">コース1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">コース2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">コース3</a>
  </li>
</ul>
<div class="tab-content">

  <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
    {{ menter.describe1 | linebreaksbr  }}:このコースにする<a href="{{request.get_full_path_info}}1/">購入ページへ</a>
  </div>
  <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
    {{ menter.describe2 | linebreaksbr  }}:このコースにする<a href="{{request.get_full_path_info}}2/">購入ページへ</a>
  </div>
  <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
    {{ menter.describe3  | linebreaksbr }}:このコースにする<a href="{{request.get_full_path_info}}3/">購入ページへ</a>
  </div>

</div>


{% endif %}
{% endblock %}
