{% extends "match/base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">DM</li>
  </ol>
</nav>



<div class="container-fluid">
  <div class="dm-box"><h1>やりとりしてる人たち</h1></div>
  {% for men in users %}

<div class="row">
  <div class="media">
  <img class="mr-3" src="{{ men.user_img }}" alt="no img">
  <div class="media-body">
    <h5 class="mt-0"><a href="{% url 'match:message_list' men.pk %}">{{ men.last_name }}さん</a></h5>
    {{ men.my_profile}}
  </div>
 </div>
</div>

{% endfor %}
</div>
{% endblock %}
