{% extends "match/base.html" %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">会員登録</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
<form action="" method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div>
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button class="btn btn-primary"
        data-toggle="collapse"
        data-target="#example-1"
        aria-expand="false"
        aria-controls="example-1">利用規約</button>
    <div class="collapse" id="example-1">
      <div class="card card-body">
        <pre>
        スマッシュマッチサービス　
        利　用　規　約

        この利用規約（以下，「本規約」といいます。）は，スマッシュマッチ（以下，「当社」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さまには本規約に従って，本サービスをご利用いただきます。

        第１条（定義）
        　本規約上で使用する用語の定義は、次に掲げるとおりとします。
        （1）本サービス
        当社が運営するサービス及び関連するサービス
        （2）本サイト
        本サービスのコンテンツが掲載されたウェブサイト
        （3）本コンテンツ
        本サービス上で提供される文字、音、静止画、動画、ソフトウェアプログラム、コード等の総称（投稿情報を含む）
        （4）利用者
        本サービスを利用する全ての方
        （5）登録ユーザー
        本サイトの利用者登録が完了した方
        （6）ＩＤ
        本サービスの利用のために登録ユーザーが固有に持つ文字列
        （7）パスワード
        ＩＤに対応して登録ユーザーが固有に設定する暗号
        （8）投稿
        登録ユーザーが文章、文字列、画像、コメント等を掲載する行為
        （9）投稿情報
        登録ユーザーが投稿等により掲載した文章、文字列、画像、コメント等の情報の総称
        （10）個人情報
        住所、氏名、職業、電話番号等個人を特定することのできる情報の総称
        （11）登録情報
        登録ユーザーが本サイトにて登録した情報の総称（投稿情報は除く）
        （12）知的財産
        発明、考案、植物の新品種、意匠、著作物その他の人間の創造的活動により生み出されるもの（発見または解明がされた自然の法則または現象であって、産業上の利用可能性があるものを含む）、商標、商号その他事業活動に用いられる商品または役務を表示するもの及び営業秘密その他の事業活動に有用な技術上または営業上の情報
        （13）知的財産権
        特許権、実用新案権、育成者権、意匠権、著作権、商標権その他の知的財産に関して法令により定められた権利または法律上保護される利益に係る権利
        （14）ショッピング　
        本サイト内で当社または他の事業者が提供する商品を登録ユーザーが購入すること
        （15）出品
        登録ユーザーが、本サービスを通じて販売する商品の詳細情報等を利用者が閲覧可能かつ商品を取引できる状態にすることをいいます。
        （16）出品者
        本サービスを通じて商品を出品する登録ユーザーをいいます。
        （17）購入者
        本サービスにて商品を購入する利用者をいいます。

        第２条（当社の役割・立場）
        １　本サービスは、ユーザー間における商品・サービスの売買その他の取引（以下、「個別取引」といいます。）のための場・機会を提供することを内容とするものです。そのため、当社は、個別取引の当事者にはならず、別途特に定めた場合を除き、売買契約の取り消し、解約、解除、返品・返金や保証などの個別取引に関しては一切関与いたしません。
        ２　ユーザーは、個別取引における一切の義務を自己の費用・責任において遂行するものとします。

        第３条（サービスの内容）
        １　当社は、本サイトにおいて、ショッピングやその他、本サービスの目的を実現するための様々なサービスを提供します。
          2　ショッピングにおいて、商品の内容、価格、納期、決済方法等については、それぞれのページに記載されています。内容をよくご確認の上、ショッピングをお楽しみください。
          3　その他、個別のサービスの説明及び規定については、本サイトにおける、それぞれのページをご覧ください。

        第４条（本規約への同意）
        １　利用者は、本利用規約に同意頂いた上で、本サービスを利用できるものとします。
        ２　利用者が、本規約への同意手続を行った時点で、利用者と当社との間で、本規約の諸規定に従った利用契約が成立するものとします。
        ３　利用者が未成年者である場合には、親権者その他の法定代理人の同意を得たうえで、本サービスをご利用ください。
        ４　未成年者の利用者が、法定代理人の同意がないにもかかわらず同意があると偽りまたは年齢について成年と偽って本サービスを利用した場合、その他行為能力者であることを信じさせるために詐術を用いた場合、本サービスに関する一切の法律行為を取り消すことは出来ません。
        ５ 本規約の同意時に未成年であった利用者が成年に達した後に本サービスを利用した場合、当該利用者は本サービスに関する一切の法律行為を追認したものとみなされます。

        第５条（規約の変更）
        １　当社は、利用者の承諾を得ることなく、いつでも、本規約の内容を改定することができるものとし、利用者はこれを異議なく承諾するものとします。
        ２　当社は、本規約を改定するときは、その内容について当社所定の方法により利用者に通知します。
        ３　前本規約の改定の効力は、当社が前項により通知を行った時点から生じるものとします。
        ４　利用者は、本規約変更後、本サービスを利用した時点で、変更後の本利用規約に異議なく同意したものとみなされます。

        第６条（利用料金）
           1     利用者及び登録ユーザーは、ショッピングに要する料金を除き、本サービスの利用に関し	    て、会費等の特別な負担はありません。
           2     商品の価格は出品者が自由に定めることができます。
           3     利用者及び登録ユーザーは、クレジットカード、デビットカード、その他これらと類似する決済サービスによりショッピングに要する料金を払うものとします。

        第７条（入会手続）
        １　本サービスへの入会を希望する方（以下「登録希望者」）は、本規約に同意した上で、所定の方法で入会の申込を行ってください。
        ２　入会の申込をした方は、当社がその申込を承諾し、ＩＤ登録が完了した時点から登録ユーザーとなります。
        ３　当社は、登録ユーザー向けにメールで連絡事項の告知や広告その他の情報提供を行います。あらかじめご了承ください。
        ４　当社は、登録希望者が次の各号のいずれか一つに該当する場合は、当社の判断により入会申込を承諾しないことがあります。
        一　登録希望者が、当社の定める方法によらず入会の申込を行った場合
        二　登録希望者が、過去に本規約または当社の定めるその他の利用規約等に違反したことを理由として退会処分を受けた者である場合
        三　登録希望者が、不正な手段をもって登録を行っていると当社が判断した場合
        四　登録希望者が、本人以外の情報を登録している場合
        五　その他当社が不適切と判断した場合

        第８条（アカウントの管理）
        １　利用者は、利用に際して登録した情報（以下、「登録情報」といいます。メールアドレスやID・パスワード等を含みます）について、自己の責任の下、任意に登録、管理するものとします。利用者は、これを第三者に利用させ、または貸与、譲渡、名義変更、売買などをしてはならないものとします。
        ２　当社は、登録情報によって本サービスの利用があった場合、利用登録をおこなった本人が利用したものと扱うことができ、当該利用によって生じた結果ならびにそれに伴う一切の責任については、利用登録を行った本人に帰属するものとします。
        ３　利用者は、登録情報の不正使用によって当社または第三者に損害が生じた場合、当社および第三者に対して、当該損害を賠償するものとします。
        ４　登録情報の管理は、利用者が自己の責任の下で行うものとし、登録情報が不正確または虚偽であったために利用者が被った一切の不利益および損害に関して、当社は責任を負わないものとします。
        ５　登録情報が盗用されまたは第三者に利用されていることが判明した場合、利用者は直ちにその旨を当社に通知するとともに、当社からの指示に従うものとします。

        第９条（退会手続）
        １　登録ユーザーが退会を希望する場合、登録ユーザーは当社所定の方法により退会の手続を行ってください。
        ２　当社は、登録ユーザーが次の各号のいずれか一つに該当する場合、当社の判断により強制的に退会いただきます。
        一　当社の定める方法によらずユーザー登録を行ったことが明らかとなった場合
        二　本規約または当社の定めるその他の利用規約等に違反した場合
        三　その他当社が不適切と判断した場合
        ３　退会時に登録ユーザーがショッピング未決済その他当社に対する負債及び義務があるときは、登録ユーザーはこれらの支払その他の義務を退会後も引き続き負うものとします。

        第１０条（個人情報等の取り扱い）
        個人情報及び利用者情報については、当社が別途定める「スマッシュマッチサービスプライバシーポリシー」に則り、適正に取り扱うこととします。

        第１１条（禁止行為）　
        本サービスの利用に際し、当社は、利用者（以下「利用者」）に対し、次に掲げる行為を禁止します。違反した場合、事前通知をすることなく、即時に利用停止、登録情報・投稿の削除等、当社が必要と判断した措置を取ることができます。
        （１）当社または第三者の知的財産権を侵害する行為
        （２）当社または第三者の名誉・信用を毀損または不当に差別もしくは誹謗中傷する行為
        （３）当社または第三者の財産を侵害する行為、または侵害する恐れのある行為
        （４）当社または第三者に経済的損害を与える行為
        （５）当社または第三者に対する脅迫的な行為
        （６）利用者が、以下の情報を投稿すること
        ①第三者の権利および財産に対して損害を与えるリスクのある情報
        ②第三者に対して有害な情報、第三者を身体的・心理的に傷つける情報
        ③犯罪や不法行為、危険行為に属する情報およびそれらを教唆、幇助する情報
        ④不法、有害、脅迫、虐待、人種差別、中傷、名誉棄損、侮辱、ハラスメント、扇動、不快を与えることを意図し、もしくはそのような結果を生じさせる恐れのある内容をもつ情報
        ⑤事実に反する、または存在しないと分かっている情報
        ⑥利用者自身がコントロール可能な権利を持たない情報
        ⑦第三者の著作権を含む知的財産権やその他の財産権を侵害する情報、公共の利益または個人の権利を侵害する情報
        ⑧わいせつ、児童ポルノまたは児童虐待にあたる画像、文書等の情報
        ⑨医師法などの法令に違反する情報
        ⑩その他当社が不適切と判断する情報
        （７）コンピューターウィルス、有害なプログラムを仕様またはそれを誘発する行為
        （８）本サービス用インフラ設備に対して過度な負担となるストレスをかける行為
        （９）当サイトのサーバーやシステム、セキュリティへの攻撃
        （１０）当社提供のインターフェース以外の方法で当社サービスにアクセスを試みる行為
        （１１）一人の利用者が、複数の利用者IDを取得する行為
        （１２）上記の他、当社が不適切と判断する行為

        第１２条（出品者の遵守事項）
        １　出品者は、当社が定める手続きにより、商品の出品を行ものとし、出品する商品等およびその出品方法等にかかる関係法令および監督官庁のガイドラインを順守しなければなりません。
        ２　出品者は、次の各号に該当する商品は出品することができず、下記各号に該当する行為をした場合、出品者の故意・過失の有無にかかわらず、本規約違反行為とみなします。
          •	下記商品を出品する行為
          •	偽ブランド品、海賊品などの法令に違反する商品
          •	主として武器として使用されるまたはそのおそれのある目的を持つ商品
          •	犯罪により入手した商品
          •	公序良俗に反する商品（わいせつな商品、児童ポルノに関連する商品を含むがこれに限らない。）他の利用者の人体・健康に影響を及ぼすおそれのある商品
          •	その他当社が不適切と判断した商品
          •	出品者は、出品する際に、真に売却する意思のない商品を出品する行為
          •	その商品情報だけでは正しく商品を理解できない又は混乱する可能性のある商品を出品する行為
          •	商品説明において、十分な説明が行われていない商品を出品する行為
          •	その他当社が不適切と判断した行為
        ３　出品に関し当社が本規約に違反すると判断した場合又は不適切と判断した場合、当社は、第１１条（禁止行為）に定める措置のほか、その出品やその出品に対して発生していた購入行為を当社の判断で取り消すことができるものとします。本項に基づく措置によって出品者に生じる損害について、当社は一切責任を負わないものとします。
        4  出品者は、出品者が定めた商品の額の内、10%が仲介手数料となり、90%が出品者の手元に入る事を了承するものとします。
        5	出品者の出品したすべての商品に対して、仲介手数料は発生します。
        6 出品者は、ユーザー情報更新ページ内の詳細設定より、口座番号、住所、氏名、生年月日、本人確認書類等の情報を送信する際は<a href="https://stripe.com/jp/connect-account/legal">Stripe Connectアカウント規約</a>に同意しなければなりません。

        第１３条（購入者の遵守事項）
        １　購入者は、当社の定める手続きにより購入の意思を持って、注文を行うものとし、購入する商品等およびその購入方法等にかかる関係法令および監督官庁のガイドラインを順守しなければなりません。
        ２　購入者は、次の各号に該当する商品を購入することができず、下記各号に該当する行為をした場合、購入者の故意・過失の有無にかかわらず、本規約違反行為とみなします。
          •	購入する意思のない注文行為、
          •	偽ブランド品、海賊品などの法令に違反する商品の購入行為
          •	転売等の営利を目的とした商品の購入行為、
          •	いたずら、嫌がらせその他不当な目的での注文行為
          •	自らの出品物を購入する行為
          •	その他当社が不適切と判断した行為
        ３　会員の注文または購入等によって、出品者や第三者に生じる損害につき、当社は一切責任を負わないものとします

        第１４条 （コンテンツの取り扱い）
        １　本サービスで提供される全てのコンテンツに関する権利は当社が有しており､利用者に対しては、譲渡及び再許諾できない、非独占的な本サービスの利用を許諾するものとします。
        ２　利用者は､当社の定める使用範囲を超えていかなる方法によっても複製､送信､譲渡（利用者同士の売買も含みます）､貸与､翻訳､翻案、無断で転載、二次使用、営利目的の使用、改変、逆アセンブル、逆コンパイル、リバースエンジニアリング等を行うことを禁止します。
        ３　第１項にかかわらず､退会等により利用者が利用者資格を喪失した場合は､提供されたコンテンツの利用権も消滅するものとします｡
        ４　登録ユーザーは、第三者の著作権を侵すことのないよう、投稿を行わなければなりません。インターネット、ＴＶ、雑誌、書籍などの各種情報媒体からの文章等の無断転載は禁じます。ただし、事前に権利保有者の許諾を得た場合には、この限りではありません。
        　
        ５　登録ユーザーが、本サービス上に投稿その他の方法で送信したコンテンツ（静止画、動画、文字情報その他一切の情報）に関する著作権（著作権法第21条ないし同第28条に規定する権利を含む全ての著作権を含む。）については利用者に帰属するものとします。ただし、利用者は、コンテンツの送信時に、当社に対し、日本国内外において、当該コンテンツを無償かつ非独占的に使用することを許諾します。
        ６　利用者は本サービス内では、著作者人格権を行使しないものとします。

        第１５条（免責）
        １　当社は、個別取引において売買される商品の内容、品質、適法性、安全性、有用性などについては、一切保証いたしません。そのため、商品に瑕疵・不具合などがあった場合でも、当社は一切の責任を負わないものとします。
        ２　当社は、個別取引に関する商品の引渡しまたは代金の支払い可能性に関し、一切保証いたしません。そのため、個別取引において、商品の引渡しがないまたは代金の支払いがない場合であっても、当社は一切の責任を負わないものとします。
        ３　利用者と他の利用者との間の論議・紛争その他のトラブルについて、当社は一切責任を負わないものとします。利用者と他の利用者でトラブルになった場合でも、両者同士の責任で解決するものとし、当社には一切の請求をしないものとします。　
        ４　当社は、本サービスの内容変更、中断、終了によって生じたいかなる損害についても、一切責任を負いません。
        ５　当社は、利用者の本サービスの利用環境について一切関与せず、また一切の責任を負いません。
        ６　当社は、本サービスが利用者の特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、利用者による本サービスの利用が利用者に適用のある法令または業界団体の内部規則等に適合すること、および不具合が生じないことについて、何ら保証するものではありません。
        ７　当社は、本サービスが全ての情報端末に対応していることを保証するものではなく、本サービスの利用に供する情報端末のＯＳのバージョンアップ等に伴い、本サービスの動作に不具合が生じる可能性があることにつき、利用者はあらかじめ了承するものとします。当社は、かかる不具合が生じた場合に当社が行うプログラムの修正等により、当該不具合が解消されることを保証するものではありません。
        8　当社は、本サービスを利用したことにより直接的または間接的に利用者に発生した損害について、一切賠償責任を負いません。
        9　当社は、利用者その他の第三者に発生した機会逸失、業務の中断その他いかなる損害（間接損害や逸失利益を含みます）に対して、当社が係る損害の可能性を事前に通知されていたとしても、一切の責任を負いません。
        10　他の利用者または第三者から投稿についての削除依頼があった時、当社の判断で削除の可否を決定できるものとし、当該判断により生じた一切の責任について、当社は責任を負わないものとします。
        １1　第１項乃至前項の規定は、当社に故意または重過失が存する場合又は契約書が消費者契約法上の消費者に該当する場合には適用しません。
        １2　前項が適用される場合であっても、当社は、過失（重過失を除きます。）による行為によって利用者に生じた損害のうち、特別な事情から生じた損害については、一切賠償する責任を負わないものとします。　
        １3　本サービスの利用に関し当社が損害賠償責任を負う場合、当該損害が発生した月に利用者から受領した利用額を限度として賠償責任を負うものとします。

        14　利用者は、本サービスの利用に関連し、他の利用者に損害を与えた場合または第三者との間に紛争を生じた場合、自己の費用と責任において、かかる損害を賠償またはかかる紛争を解決するものとし、当社には一切の迷惑や損害を与えないものとします。
        15　利用者の行為により、第三者から当社が損害賠償等の請求をされた場合には、利用者の費用（弁護士費用）と責任で、これを解決するものとします。当社が、当該第三者に対して、損害賠償金を支払った場合には、利用者は、当社に対して当該損害賠償金を含む一切の費用（弁護士費用及び逸失利益を含む）を支払うものとします。
        １6　利用者が本サービスの利用に関連して当社に損害を与えた場合、利用者の費用と責任において当社に対して損害を賠償（訴訟費用及び弁護士費用を含む）するものとします。
        １7　本サービスで他の利用者が投稿した情報の正確性について、当社は保証しません。当社は、本サービスに掲載されている情報についての紛争及びトラブルについて一切の責任を負いません。

        第１６条（広告の掲載について）
        利用者は、本サービス上にあらゆる広告が含まれる場合があること、当社またはその提携先があらゆる広告を掲載する場合があることを理解しこれを承諾したものとみなします。本サービス上の広告の形態や範囲は、当社によって随時変更されます。

        第１７条（監視業務）
        当社は、利用者が本サービスを適正に利用しているかどうかを監視する業務を当社の裁量により行うものとし、利用者はそれに同意するものとします。

        第１８条（権利譲渡の禁止）
        １　利用者は、予め当社の書面による承諾がない限り、本規約上の地位および本規約に基づく権利または義務の全部または一部を第三者に譲渡してはならないものとします。
        ２　当社は、本サービスの全部または一部を当社の裁量により第三者に譲渡することができ、その場合、譲渡された権利の範囲内で利用者のアカウントを含む、本サービスに係る利用者の一切の権利が譲渡先に移転するものとします。

        第１９条（分離可能性）
        本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。

        第２０条（当社への連絡方法）
        本サービスに関する利用者の当社へのご連絡・お問い合わせは、本サービスまたは当社が運営するwebサイト内の適宜の場所に設置するお問い合わせフォームからの送信または当社が別途指定する方法により行うものとします。

        第２１条（準拠法、管轄裁判所）
        １　本規約の有効性，解釈及び履行については，日本法に準拠し，日本法に従って解釈されるものとする。
        ２　当社と利用者等との間での論議・訴訟その他一切の紛争については、訴額に応じて、東京簡易裁判所又は東京地方裁判所を専属的合意管轄裁判所とします｡

        2021年1月3日　施行
      </pre>
      </div>
    </div>

    <button class="btn btn-primary"
        data-toggle="collapse"
        data-target="#example-1"
        aria-expand="false"
        aria-controls="example-1">スマッシュマッチプライバシーポリシー</button>
    <div class="collapse" id="example-1">
      <div class="card card-body">
        <pre>
          プライバシーポリシー
スマッシュマッチ（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
第1条（個人情報）
「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。
第2条（個人情報の収集方法）
当社は，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレス，銀行口座番号，クレジットカード番号，運転免許証番号などの個人情報をお尋ねすることがあります。また，ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を,当社の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。
第3条（個人情報を収集・利用する目的）
当社が個人情報を収集・利用する目的は，以下のとおりです。
	1.	当社サービスの提供・運営のため
	2.	ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）
	3.	ユーザーが利用中のサービスの新機能，更新情報，キャンペーン等及び当社が提供する他のサービスの案内のメールを送付するため
	4.	メンテナンス，重要なお知らせなど必要に応じたご連絡のため
	5.	利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため
	6.	ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため
	7.	有料サービスにおいて，ユーザーに利用料金を請求するため
	8.	上記の利用目的に付随する目的
第4条（利用目的の変更）
	1.	当社は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。
	2.	利用目的の変更を行った場合には，変更後の目的について，当社所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。
第5条（個人情報の第三者提供）
	1.	当社は，次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。
	1.	人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき
	2.	公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき
	3.	国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
	4.	予め次の事項を告知あるいは公表し，かつ当社が個人情報保護委員会に届出をしたとき
	1.	利用目的に第三者への提供を含むこと
	2.	第三者に提供されるデータの項目
	3.	第三者への提供の手段または方法
	4.	本人の求めに応じて個人情報の第三者への提供を停止すること
	5.	本人の求めを受け付ける方法
	2.	前項の定めにかかわらず，次に掲げる場合には，当該情報の提供先は第三者に該当しないものとします。
	1.	当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合
	2.	合併その他の事由による事業の承継に伴って個人情報が提供される場合
	3.	個人情報を特定の者との間で共同して利用する場合であって，その旨並びに共同して利用される個人情報の項目，共同して利用する者の範囲，利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について，あらかじめ本人に通知し，または本人が容易に知り得る状態に置いた場合
第6条（個人情報の開示）
	1.	当社は，本人から個人情報の開示を求められたときは，本人に対し，遅滞なくこれを開示します。ただし，開示することにより次のいずれかに該当する場合は，その全部または一部を開示しないこともあり，開示しない決定をした場合には，その旨を遅滞なく通知します。
	2.	前項の定めにかかわらず，履歴情報および特性情報などの個人情報以外の情報については，原則として開示いたしません。
第7条（個人情報の訂正および削除）
	1.	ユーザーは，当社の保有する自己の個人情報が誤った情報である場合には，当社が定める手続きにより，当社に対して個人情報の訂正，追加または削除（以下，「訂正等」といいます。）を請求することができます。
	2.	当社は，ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の訂正等を行うものとします。
	3.	当社は，前項の規定に基づき訂正等を行った場合，または訂正等を行わない旨の決定をしたときは遅滞なく，これをユーザーに通知します。
第8条（個人情報の利用停止等）
	1.	当社は，本人から，個人情報が，利用目的の範囲を超えて取り扱われているという理由，または不正の手段により取得されたものであるという理由により，その利用停止等を行った場合，または利用停止等を行わない旨の決定をしたときは，遅滞なく，これをユーザーに通知します。
	2     利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって，ユーザーの権利利益を保護するために必要なこれに代わるべき措置をとれる場合は，この代替策を講じるものとします。
第9条（プライバシーポリシーの変更）
	1.	本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。
	2.	当社が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。
第10条（お問い合わせ窓口）
本ポリシーに関するお問い合わせは，下記の連絡先までお願いいたします。
game4967@gmail.com

        </pre>
        </div>
      </div>
    <button type="submit">利用規約に同意して会員登録する</button>
</form>
</div>
</div>
{% endblock %}
