{% extends "match/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ user.last_name }}さんの詳細</li>
  </ol>
</nav>
<table class="table">

        <tr>
            <th>ユーザー名</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>姓</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>使用キャラ</th>
            <td>{% for char in user.user_char.all %}{{ char }}, {% endfor %}</td>
        </tr>
        <tr>
            <th>プロフ画像</th>
            {% if user.user_img %}
              <td><img src="{{ user.user_img }}"></td>
            {% endif %}
        </tr>
        {% if re_url %}
        <tr>
            <th>ツイッターと提携する</th>
            <td>
              <button type="button" class="button" onclick="location.href='{{ re_url }}'">
                Twitter でログイン
              </button>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>自己紹介</th>
            <td>{{user.my_profile}}</td>
        </tr>
        <tr>
            <th>メンターor弟子</th>
            <td>{{ user.menter }}</td>
        </tr>
        {% if user.menter == 1 %}
          {% if user.course1 %}
          <tr>
              <th>コース1の値段:{{ user.course1 }}円</th>
              <td>{{user.describe1}}</td>
            </tr>
          {% endif %}
          {% if user.course2 %}
            <tr>
              <th>コース2の値段:{{ user.course2 }}円</th>
              <td>{{user.describe2}}</td>
            </tr>
          {% endif %}
          {% if user.course3 %}
            <tr>
              <th>コース3の値段:{{ user.course3 }}円</th>
              <td>{{user.describe3}}</td>
            </tr>
            <tr>
              <th>仕事を受け付けない</th>
              <td>{{ user.busy }}</td>
            </tr>
          {% endif %}
        {% endif %}

</table>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">コース1:{{ user.course1 }}円</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">コース2:{{ user.course2 }}円</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">コース3:{{ user.course3 }}円</a>
  </li>
</ul>
<div class="tab-content">

  <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">

     {{ user.describe1 }}

  </div>
  <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
    {{ user.describe2}}

  </div>
  <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
    {{ user.describe3}}

  </div>

</div>
{% endblock %}
