{% extends "match/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">プロフィール設定</li>
  </ol>
</nav>
<table class="table">

<div class="container">
  <div class="row">
<form action="" method="POST" enctype="multipart/form-data">
  <table class="table">
    {% if form.non_field_errors %}
    <div class="alert alert-warning" role="alert">{{ form.non_field_errors }}</div>
    {% endif %}
  <div class="form-group">
          <tr>
              <th>姓</th>
              <td>{{ form.last_name }}</td>
          </tr>
          <tr>
              <th>名</th>
              <td>{{ form.first_name }}</td>
          </tr>
          <tr>
              <th>使用キャラ</th>
              <td>{{ form.user_char }}</td>
          </tr>


          <tr>
              <th>自己紹介</th>
              <td>{{ form.my_profile }}</td>
          </tr>
          <tr>
              <th>メンターorメンティー</th>
              <td>{{ form.menter }}</td>
          </tr>


          {% if user.menter == 1 %}
          <tr>
            <th>
              コース料金について
            </th>
            <td>コースの料金は3000円以上から設定可能です。また、コース料金は、コース料金から手数料10%が引かれた額が振り込まれます。</td>
          </tr>
          <tr>
            <th>コース1の料金 (単位:円)</th>
            <td>{{ form.course1 }}円<td>
          </tr>
          <tr>
            <th>コース1の説明</th>
            <td>{{ form.describe1  }}</td>
          </tr>
          <tr>
            <th>コース2の料金 (単位:円)</th>
            <td>{{ form.course2 }}円</td>
          </tr>
          <tr>
            <th>コース2の説明</th>
            <td>{{ form.describe2 }}</td>
          </tr>
          <tr>
            <th>コース3の料金 (単位:円)</th>
            <td>{{ form.course3 }}円</td>
          </tr>
          <tr>
            <th>コース3の説明</th>
            <td>{{ form.describe3  }}</td>
          </tr>
          <tr>
            <th>依頼を受け付けない</th>
            <td>{{ form.busy }}</td>
          </tr>
          {% endif %}
        {% csrf_token %}
    </div>
  </table>

    <button type="submit" class="btn btn-success btn-lg" >送信</button>


    <div class="detail"><a href="{% url 'match:account_update' user.pk %}">詳細設定はこちら</a></div>

</form>
  </div>
</div>
{% endblock %}
