{% extends "match/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">プロフィール設定</li>
  </ol>
</nav>
<table class="table">

<div class="container">
  <div class="row">
<form action="" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    {{ form.non_field_errors }}
      <p>
      姓:{{ form.last_name }}
      </p>
      <p>
      名:{{ form.first_name }}
      </p>
      <p>
      mail:{{ form.email }}
      </p>
      <p>
      使用キャラ:{{ form.user_char }}
      </p>
      <p>
        自己紹介:{{ form.my_profile }}
      </p>


      {{ form.menter }}

      {% if user.menter == 1 %}
        <p>
        コース1の料金 (単位:円){{ form.course1 }}円
        </p>
        <p>
        コース1の説明{{ form.describe1  }}
        </p>
        <p>
        コース2の料金 (単位:円){{ form.course2 }}円
        </p>
        <p>
        コース2の説明{{ form.describe2 }}
        </p>
        <p>
        コース3の料金 (単位:円){{ form.course3 }}円
        </p>
        <p>
        コース3の説明{{ form.describe3  }}
        </p>
        <p><a href="{% url 'match:account_update' user.pk %}">詳細設定(依頼を受ける際に必要になります。)</a></p>
        <br>
       <p>{{ form.busy }} 依頼を受け付けない </p>
      {% endif %}
    {% csrf_token %}

    <button type="submit" class="btn btn-success btn-lg" >送信</button>
    </div>
</form>
  </div>
</div>
{% endblock %}
