{% extends 'match/base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'match:top' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">お問い合わせ</li>
  </ol>
</nav>

<div class="container">

  <h1>お問い合わせ</h1>
  <form action="" method="POST">
    <div class="form-group"
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">送信</button>
    </div>
  </form>
</div>
{% endblock %}
